In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/JyothiAB/NLP/SPAM-Classifier/spam.csv', encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
df.drop(['Unnamed: 2',	'Unnamed: 3',	'Unnamed: 4'], inplace=True, axis=1)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
import re
import nltk

nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk import WordNetLemmatizer

nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
message = []
lm = WordNetLemmatizer()
for i in range(0, len(df)):
  review = re.sub('[^a-zA-Z]', ' ', df['v2'][i])
  review = review.lower()
  review = review.split()
  

  review = [lm.lemmatize(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  
  message.append(review)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(message).toarray()

In [ ]:
y = df['v1'].replace(["ham", "spam"],[0,1])
y.value_counts()

0    4825
1     747
Name: v1, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.1,random_state=3)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb_classifier = nb.fit(x_train,y_train)

In [ ]:
y_pred = nb_classifier.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99       477
           1       0.90      0.98      0.93        81

    accuracy                           0.98       558
   macro avg       0.95      0.98      0.96       558
weighted avg       0.98      0.98      0.98       558